<header>
    <ul>
        <% for( let i = 0; i < 19; i++ ) { %>
            <li></li>
            <% } %>
    </ul>

    <ul>
        <% for( let i = 0; i < 19; i++ ) { %>
            <li></li>
            <% } %>
    </ul>

    <ul>
        <% for( let i = 0; i < 50; i++ ) { %>
            <li>1</li>
        <% } %>
    </ul>
</header>