<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>

    <body>

        <%- include("./partials/header.ejs") -%>
    
        <main>
            <section>
                <button></button>
                <button></button>
                <button></button>
            </section>
    
            <button></button>
    
    
            <ul class="list">
                <li>
                    <p>
                        You are offline, please check your internet or try one more time later.
                    </p>
                </li>
            </ul>
        </main>
    
        <%- include('./partials/footer.ejs') %>
    
        <script src="./script/script.js"></script>
    </body>
    
</html>